fieldset{
    border-radius: 8px;
}


table{
    border-collapse: collapse;
    width: 100%;
}

th{
    background-color: #4CAF50;
    color:white;
}

th,td{
    text-align: left;
    padding:  8px;
    border-bottom: 1px solid black;
}


.btnSalvar{
    background-color: #4CAF50;
    border:none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:4px 2px;
    cursor:pointer;
}


.btnEditar{
    background-color: aquamarine;
    border:none;
    color:black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:4px 2px;
    cursor:pointer;
}

.btnExcluir{
    background-color: red;
    border:none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:4px 2px;
    cursor:pointer;
}